*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: #ffdead;
}
h1{  
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    font-family: ;
    font-size: 40px;

}

.botao_voltar{
    align-items: center;
    position: fixed;
    margin: 1% 90% 0 2%;
    z-index: 1;
    width: min-content;

}

.botao_voltar{
    height: 60px;
}


.card .user{
    width: 100px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
}
.card{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35 px 40px;
    box-shadow: 6 px 6px 10px rgba(49, 1, 1, 0.377);
    border-radius: 10px;
}