*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.container{
    height: 110vh;

    width: 100%;
    position: relative;
    box-sizing: border-box;

}
.navbar{
    width: 100%;
    background-color: black;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    margin-top: 5px;
    margin-left: 45px;
    cursor: pointer;
}

nav{
    flex: 1;
    padding-left: 300px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 15px;

}
.botoes {
    list-style: none;
    width: 27%;
    
    
    display: flex;
    
    align-items: center;
}
.botao_log {
    background-color: white;
    border: 1px solid ;
    margin-left: 40px;
    padding: 0 1rem 0 1rem;
    border-radius: 40px;
}


.content .span2 {

    text-align: center;
    font-family:  'Roboto', sem serifa;
    display: flex;
    font-size: 25px;

}
.content p{
    font-size: 25px;
    font-family: 'Roboto', sem serifa;
    margin-top: 60px;
 
}
.botao_cad {
    background:  white;
    border: 1px solid black;
    padding: 0 1rem 0 1rem;
    transform: scale(1.0);
    transition: all 0.5s;
    border-radius: 40px;
    
}
.botao_cad a{
    text-decoration: none;
    color: black;
}

.botao_log a{
    text-decoration: none;
    color: black;
    
}
.botao_cad:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}



nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.container  .botoes{
   display: flex;
   align-items: center;

} 


.content{
    /* position: relative; */
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.container_direita{
    align-items: center;
    
    height: 45%;
    display: flex;
    justify-content: center;
    
}
.container_direita{
    
    
}


h1{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1em;
    font-size: 60px;
    color: black;
}

.container1 h1{
    font-size: 50px;
    text-align: center;
    position: relative;
    height: 15%;
}

.btn{
    background-color: black;
    margin-top: 120px;
    padding: 15px 45px;
    text-align: center;
    border: none;
    transition: 5s;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    display: block;
    border-radius: 20px;
    background-size: 200% auto;
    box-shadow: 3px 8px 22px rgba(22,21,21,.15);
}

.btn:hover{
    transition: all .3s;
}

.imagem{
    
    border-bottom-right-radius:  50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 1px;

    align-items: center;
   
    
    animation: trocaImagem 1s ease-in-out;
}

@keyframes trocaImagem {
    from{opacity: 0;}
    to{opacity: 1;}
}








/* Historia nike */

.container1{
    height: 300px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    

   
   
}
.container1 img{
    margin-left: 30px;
    
    
}


/* .container1 .img_historia{
    
    width: 100%;
  display: flex;
  margin-top: 1%; 
  margin-right: 300px;
  margin-right: 200px;
   
   
   
} */

 /* .meio_cont .img_historia {
    width: 100%;
    position: relative;
    
    margin: 1%;
    

}  */

       
   .meio_cont h1{
    color:  white;
   }

.historia{
    display: flex;
    background-color: black;
    justify-content: space-between;

  
    
}

.texto .altera{
    color: white;
     margin-top: 4%; 
    
    margin-right: 70px;

}



.texto{
   
    display: flex;

}


.historia .conatainer{
    border-color: #121212;
}


.meio_cont{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 550px;
    margin-top: 20px;
    background: black;
    width: 100%;
} 

.{
    height: 20%;
    background-color: aqua;
}


/* fundadores nike*/


.card .user{
    width: 100px;
    
}
.card img{
    margin: 10%;
    width: 200px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 980px;
    margin: 25px auto;
    grid-gap: 40px;
    margin-top: 30px;
    
    
}
.card{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 25px;
    box-shadow: 6 px 6px 10px rgba(49, 1, 1, 0.377);
    border-radius: 35px 0 35px 0;
}



.card p{
 text-align: center;
    font-size: 1em;
    color: white;
    margin: 7%;
   
} 

.card h3{
    color: white;

}
.card1{
    background-image:url(../assets/nike\ card.jpg);
    background-repeat: no-repeat;
    border-radius: 35px 0 35px 0;
}






/* section{
    
    
    display: flex;
    align-items: center;
     
    

}

 .wrapper{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

.item{
    background-color: #f5f5f5;
    margin: 20px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 7px 7px 0px #121212;
    border: 2px solid #aaa8a8;
} 
.item img{
    margin: 20px;
height: 50%;
}
.item1 h2{
 
    letter-spacing: 3px;
    padding: 10px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #aaa8a8;
}

.profile img  {
    height: 80px;
    
    border-radius: 100px;
}



.wrapper h1{
    background-color: gold;
    display: flex;
    text-align: center;
} */


/*
OSAKWE
*/

.main-content{
    margin: 4vh 3vw;
}



/* .container1 .botao_curiosidade{
   display: flex;
   float: right;
   background-color: black;
   
   
   text-align: center;
   border: 20px;

   color: white;
   cursor: pointer;
   font-weight: 500px;
   font-size: 20px;
   display: block;
   border-radius: 30px;
} */

/* .altera{
    padding: 2px;
    margin: 10%;
    font-size: 16px;
    text-align:end;



/* footer */

footer{
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}


.sociais{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.sociais li{
    margin: 0 10px;

}
.sociais a{
    text-decoration: none;
    color: #fff;

}
.sociais a i{
    font-size: 1.1rem;
    
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

